@{
    ViewBag.Title = "About";
}
  <!-- About Page Area Start Here -->
<div class="about-page-area">
    <img src="../img/about1-bottom-back.png" class="img-responsive" alt="about1-bottom-back">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-page-left">
                    <h2>About us</h2>
                    <p><span><span>Started in 2002</span> We sell top quality fresh meat. Warraich Meats has been in operations since 2002 and has successfully been operating its stores over these years. Our success is built upon an unflinching commitment to quality and customer service..</span></p>
                    <p>Warraich Meats takes pride in the fact that it is probably the first ethnic food outlet that has introduced fine Indian recipes, passed on from generation to generation by our grandmothers over many centuries, into the market for our customers who value fine non vegetarian cuisine with home made flavors and taste.We believe in providing our customers with fresh meat products with a wide ranging choice of marinated and spiced meats, chicken and fish products, carefully prepared to ensure the preservation of natural texture, taste, nutrients and juiciness, which comes through when cooked. </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-page-right">
                    <div class="rc-carousel"
                         data-loop="true"
                         data-items="1"
                         data-margin="15"
                         data-autoplay="true"
                         data-autoplay-timeout="10000"
                         data-smart-speed="2000"
                         data-dots="true"
                         data-nav="false"
                         data-nav-speed="false"
                         data-r-x-small="1"
                         data-r-x-small-nav="false"
                         data-r-x-small-dots="true"
                         data-r-x-medium="1"
                         data-r-x-medium-nav="false"
                         data-r-x-medium-dots="true"
                         data-r-small="1"
                         data-r-small-nav="false"
                         data-r-small-dots="true"
                         data-r-medium="1"
                         data-r-medium-nav="false"
                         data-r-medium-dots="true">
                        <div class="about-page-img-holder">
                            <img src="../img/about1-banner1.jpg" class="img-responsive" alt="about1-banner">
                        </div>
                        <div class="about-page-img-holder">
                            <img src="../img/about1-banner_2.jpg" class="img-responsive" alt="about1-banner">
                        </div>
                        <div class="about-page-img-holder">
                            <img src="../img/about1-banner-1.jpg" class="img-responsive" alt="about1-banner">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="about-page-bottom">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="about-page-bottom-box border-right wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
                        <div class="media">
                            <a href="#" class="pull-left">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </a>
                            <div class="media-body">
                                <h3><a href="#">We provide Fresh Quality</a></h3>
                                <p>Corem ipsum dolor sit amet, consectetur adipiscing elit. In sed nisl elementumty yer scelerisque posuere neque.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="about-page-bottom-box border-right wow zoomIn" data-wow-duration="2s" data-wow-delay="1s">
                        <div class="media">
                            <a href="#" class="pull-left">
                                <i class="fa fa-briefcase" aria-hidden="true"></i>
                            </a>
                            <div class="media-body">
                                <h3><a href="#">Onsite Catering</a></h3>
                                <p>Corem ipsum dolor sit amet, consectetur adipiscing elit. In sed nisl elementumty yer scelerisque posuere neque.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="about-page-bottom-box wow zoomIn" data-wow-duration="2s" data-wow-delay="1.5s">
                        <div class="media">
                            <a href="#" class="pull-left">
                                <i class="fa fa-gift" aria-hidden="true"></i>
                            </a>
                            <div class="media-body">
                                <h3><a href="#">Provide Chefdish Buffet</a></h3>
                                <p>Corem ipsum dolor sit amet, consectetur adipiscing elit. In sed nisl elementumty yer scelerisque posuere neque.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Page Area End Here -->
