
@{
    ViewBag.Title = "appetizer_menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Food Menu 1 Area Start Here -->
<div class="food-menu1-area">
    <div class="container">
        <h2 class="title-color">Appetizer Menu</h2>
        <span class="subtitle-color">Warraich Meat Shop</span>
        <p style="text-align:center; font-size:20px;">TOTAL FOUR ITEMS:-  $12 per Person (min 20 Persons)</p>
        <p style="text-align:center; font-size:20px;">We Do all Kind of Veg & Non-Veg Caterings</p>
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="food-menu1-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="food-menu-title">
                        <h3>Veg. Items</h3>
                        <p>Choose any 2 Items </p>
                        <span><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                    </div>
                    <ul>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chilly Paneer</a></h4>
                                    <p>Saute for a minute and then add cubed capsicum, salt along with the tomato ketchup, vinegar, green chilli sauce, and soy sauce</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Paneer Tikka</a></h4>
                                    <p>Paneer Tikka is an Indian dish made from chunks of paneer marinated in spices and grilled in a tandoor. It is a vegetarian alternative to chicken tikka</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Aloo Tikka (w. chana)</a></h4>
                                    <p>Aloo Tikki is a popular North Indian snack recipe made from potatoes and peas, spiced with chilli powder and chaat masala. This is one of the most loved street foods</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chat Papri</a></h4>
                                    <p>Papri" refers to the wafers, and the word "chaat" is used for several snacks and fast food meals. In Hindi, "Chaat" means "to lick."</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Spring Rolls</a></h4>
                                    <p>Spring rolls are a large variety of filled, rolled appetizers or dim sum found in East Asian, South Asian, and Southeast Asian cuisine</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Vegi Manchurian</a></h4>
                                    <p>Veg Manchurian dumplings are made of cabbage, carrots & spring onion. You can add other other vegetables like beans, onions, capsicum (bell pepper), cauliflower etc. as per your choice</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Vegi Kathi Roll</a></h4>
                                    <p>A kati roll is a street-food dish originating from Kolkata, India. In its original form, it is a skewer-roasted kebab wrapped in a paratha bread, although over the years many variants have evolved</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Vegi Noodles</a></h4>
                                    <p>Veg Noodle dish is perfect as a snack or main course and for hosting great parties. In its typical prepration boiled noodles are tossed with garlic, ginger etc</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Vegi Pasta</a></h4>
                                    <p>Pasta is typically made from an unleavened dough of a durum wheat flour mixed with water or eggs and formed into sheets or various shapes, then cooked by boiling or baking</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Paneer Pakora</a></h4>
                                    <p>simple snack recipe prepared with spiced paneer cubes, coated with besan or chickpea flour batter. it is one of the popular pakora variations with moist and spice coated paneer inside</p>
                                </div>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="food-menu1-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                    <div class="food-menu-title">
                        <h3>Non-Veg. Items</h3>
                        <p>Choose any 2 Items</p>
                        <span><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                    </div>
                    <ul>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chilly Chicken</a></h4>
                                    <p>Chilly chicken are marinated in soya sauce, chilli sauce and pepper. Then deep fried and then seasoned again in sauces to get the best chinese chilly chicken. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Kabab</a></h4>
                                    <p>Chicken Kabab is one of the dishes most of the people especially Indians would prefer for its spicy and crispy tasty chicken </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Fish Pakora (fry)</a></h4>
                                    <p>Pakoras are a favorite hot snack food in India and usually made with vegetables dipped in a delicious gram flour batter and deep fried</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Tikka</a></h4>
                                    <p>Chicken tikka, is a chicken dish originating in the Punjab region of the Indian Subcontinent; the dish is popular in India and Pakistan </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Legs</a></h4>
                                    <p>Chicken legs (drumsticks) with dried oregano, dried thyme, coriander, smoked paprika, salt, pepper, and garlic. Pour olive oil and lemon juice over the chicken legs </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Pasta/Noodles</a></h4>
                                    <p>
                                        Chicken Noodles made with chicken, veggies, gluten free rice noodles and a delicious savory Asian-inspired sauce.

                                    </p>

                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Manchurian</a></h4>
                                    <p>Chicken Manchurian is a popular starter recipe, which is relished by people of all age groups. This all time favourite Chinese recipe can be served with Fried Rice, Pan Fried Noodles, Hakka Noodles.</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Balls</a></h4>
                                    <p>Chicken balls  are a type of modern Chinese food served in Canada, Ireland, United States, and the United Kingdom. The dish consists of small chunks of fried chicken breast meat covered in a crispy batter coating.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Kathi Roll</a></h4>
                                    <p>    Chicken Kathi Roll is a mouth watering and scrumptious roll made using chicken filling and wrapped using a delicious roti.</p>

                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Wings</a></h4>
                                    <p>chicken wings have long been a staple of Southern cooking.  But the concept of cooking wings in peppery hot sauce was born in 1964 at the Anchor Bar in Buffalo, New York, when co-owner Teressa Bellissimo cooked leftover wings in hot sauce as a late-night snack for her son and his friends.


                                </div>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Food Menu 1 Area End Here -->

