
@{
    ViewBag.Title = "buffet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <!-- Food Menu 1 Area Start Here -->
<div class="food-menu1-area">
    <div class="container">
        <h2 class="title-color">Cooked Food</h2>
        <span class="subtitle-color">Warraich Meat Shop</span>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="food-menu1-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="food-menu-title">
                        <h3>Buffet Menu</h3>
                        <span><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                    </div>
                    <ul>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Honey Garlic Wings (10 pieces per order)</a></h4>
                                    <p> Just bake them until crispy, toss with the sauce and pop them back into the oven for a few minutes! </p>
                                    <span>$11.99 </span>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Honey Garlic Wings (5 pieces per order)</a></h4>
                                    <p> Just bake them until crispy, toss with the sauce and pop them back into the oven for a few minutes! </p>
                                    <span>$6.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Methi Malai (per order)</a></h4>
                                    <p>Methi Malai is creamy, smooth delicious healthy with the methi and matar.</p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">BBQ Sauce Wings (10 pieces per order)</a></h4>
                                    <p>Yummy honey barbeque sauce is great on chicken wings, pork, or short ribs </p>
                                    <span>$9.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">BBQ Sauce Wings (5 pieces per order)</a></h4>
                                    <p>Yummy honey barbeque sauce is great on chicken wings, pork, or short ribs </p>
                                    <span>$6.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#"> Creamy Chicken (per order)</a></h4>
                                    <p>So thick and creamy, this creamy herb sauce pairs perfectly over rice, pasta, or Creamy Mashed Potatoes</p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Pakora (fry) (per order)</a></h4>
                                    <p>Chicken Pakora Recipe is an amazing chicken fritters made using boneless chicken and chickpea flour/besan.</p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Pasta (per order)</a></h4>
                                    <p>A wonderfully comforting chicken pasta bake, this can be made ahead and will go down really well with the family. </p>
                                    <span>$9.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Noodles (per order)</a></h4>
                                    <p>Chicken Noodles made with chicken, veggies, gluten free rice noodles and a delicious savory Asian-inspired sauce. </p>
                                    <span>$8.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Liver Masala (per order)</a></h4>
                                    <p>Chicken liver in a bowl and marinate it with some salt for 10 mins. Heat oil in a kadai and add the chicken liver </p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Quorma Curry (per order)</a></h4>
                                    <p>Korma is a gravy dish that is usually made of spices, nuts, yogurt, seeds, coconut, vegetables & meats </p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#"> Lemon Chicken ( per order)</a></h4>
                                    <p>A melt in your mouth chicken recipe with a lemony kick. Punjabi lemon chicken made with citrus juices, sugarcane juice and some basic Indian spices.</p>
                                    <span>$8.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chilli Chicken (boneless) ( per order)</a></h4>
                                    <p>Chilly chicken are marinated in soya sauce, chilli sauce and pepper. Then deep fried and then seasoned again in sauces to get the best chinese chilly chicken.</p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Haryali Chicken (per order)</a></h4>
                                    <p>Haryali Chicken is prepared with juicy chicken breasts marinated in the blended mixture of mint leaves, coriander leaves, curd along with a melange of flavorsome spices. </p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Manchurian (per order)</a></h4>
                                    <p>Made from authentic Chinese flavors, this dish is a must try! Fried chicken balls cooked in a spicy sauce batter. Served with steamed rice or hakka noodles</p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Malai Kofta ( per order)</a></h4>
                                    <p>Malai Kofta will give you restaurant like flavor at home. Soft and juicy koftas in creamy sauce will tantalize your taste buds. </p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>



                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            </div>
        </div>
    </div>
</div>
<!-- Food Menu 1 Area End Here -->

