
@{
    ViewBag.Title = "catering_menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- Food Menu 1 Area Start Here -->
<div class="food-menu1-area">
    <div class="container">
        <h2 class="title-color">Catering Menu</h2>
        <span class="subtitle-color">Warraich Meat Shop</span>
        <p style="text-align:center; font-size:20px;">TOTAL NINE ITEMS:-  $12 per Person (min 20 Persons)</p>
        <p style="text-align:center; font-size:20px;">We Do all Kind of Veg & Non-Veg Caterings</p>

        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="food-menu1-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="food-menu-title">
                        <h3>Veg Items</h3>
                        <p>Choose any 2 Items </p>
                        <span><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                    </div>
                    <ul>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Mix Veg</a></h4>
                                    <p>Seasonal mix vegetables cooked with ginger and onions gravy</p>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Sahi Paneer</a></h4>
                                    <p>Cubes of cottage cheese cooked with onions and rich creamy cashew nut gravy</p>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Daal Makhni</a></h4>
                                    <p>Mix lentils and red kidney cooked together with spices and finished with cream and butter</p>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chana Masala</a></h4>
                                    <p>Chickpeas cooked in onions gravy and spices</p>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Karahi Chicken</a></h4>
                                    <p>Cottage cheese cooked with special spices, green capsicum, onions and herbs</p>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Palak Paneer (Saag Paneer)</a></h4>
                                    <p>Delicious home made cottage cheese & spinach cooked with authentic Indian spices and topped with fried onion, tomato and spring onions</p>

                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Malai Kofta</a></h4>
                                    <p>Kofta made from cottage cheese and mashed potatoes then deep fried and cooked with rich creamy cashew nut gravy</p>

                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Methi Malai Paneer</a></h4>
                                    <p>Methi or Fenugreek leaves have a sort of bitterness to them which works really well in this spicy, creamy authentic indian dish</p>

                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Vegi Manchurian</a></h4>
                                    <p>Veg Manchurian dumplings are made of cabbage, carrots & spring onion. You can add other other vegetables like beans, onions, capsicum (bell pepper), cauliflower etc. as per your choice</p>

                                </div>
                            </div>
                        </li>



                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="food-menu1-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                    <div class="food-menu-title">
                        <h3>Non-Veg. Items</h3>
                        <p>Choose any 2 Items </p>
                        <span><i class="fa fa-cutlery" aria-hidden="true"></i></span>

                    </div>
                    <ul>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Butter Chicken</a></h4>
                                    <p>Natural chicken cooked in tandoori oven, seasoned with spices with vegetables and simmered in cream</p>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Curry</a></h4>
                                    <p>Natural chicken marinated in our curry sauce, which includes coriander, cumin, turmeric, and ginger, cooked to perfection with onions, tomato sauce, and fresh cilantro</p>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Goat Curry</a></h4>
                                    <p>Cheap cuts like goat and mutton require slow-cooking in strong spices to tenderise - this Jamaican classic is a taste sensation</p>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Karahi Chicken</a></h4>
                                    <p>Boneless chicken cooked in spices with fresh green capsicum, tomato and onions</p>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Karahi Goat</a></h4>
                                    <p>Goat Karahi - Mutton Kadai, this is a pakistani dish made in kadai. It is a simple recipe prepared in mustard oil with julian ginger</p>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Tikka Masala</a></h4>
                                    <p>Boneless chicken cooked with onion tomato gravy with diced capsicum and spices</p>

                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Haryali Chicken</a></h4>
                                    <p>Haryali Chicken Tikka is prepared with juicy chicken breasts marinated in the blended mixture of mint leaves, coriander leaves, curd along with a melange of flavorsome spices</p>

                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Lemon Chicken</a></h4>
                                    <p> Lemon Chicken is easy to make—just a simple marinade with lemon zest, lemon juice, garlic, and herbs, and then into the oven it goes</p>

                                </div>
                            </div>
                        </li>



                    </ul>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="food-menu1-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="food-menu-title">
                        <h3>Sweets</h3>
                        <p>Choose any 1 Items </p>
                        <span><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                    </div>
                    <ul>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Ras Malai</a></h4>
                                    <p>Ras Malai that is  soft and mouth melting. It is the Hindi cognate which comes from two words in Bengali: rosh, meaning "juice", and molai, meaning "cream"</p>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Gulab Jamun</a></h4>
                                    <p>Gulab jamun are a milk-solid-based South Asian sweet, originating in the Indian subcontinent, notably popular in India, Nepal, Pakistan, and Bangladesh, as well as Myanmar</p>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Carrot Pudding</a></h4>
                                    <p>Carrot pudding is a dish traditional to a wide range of cultures around the world. It can be served either as a savoury pudding or as a sweet dessert</p>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Custard</a></h4>
                                    <p>Custard is a variety of culinary preparations based on a cooked mixture of milk or cream and egg yolk</p>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Kheer Halwa</a></h4>
                                    <p>Kheer is basically rice pudding made across India, it is simlar to rice payasam made in South Indian homes</p>

                                </div>
                            </div>
                        </li>



                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="food-menu1-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                    <div class="food-menu-title">
                        <h3>Include all Side Items</h3>

                        <span><i class="fa fa-cutlery" aria-hidden="true"></i></span>

                    </div>
                    <ul>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Zeera Rice</a></h4>
                                    <p>Jeera rice or Zeera rice is an Indian and Pakistani dish consisting of rice and cumin seeds. It is a popular dish in North India and Pakistan as an everyday rice dish.</p>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Raita</a></h4>
                                    <p>Raita is a common name of a condiment from the Indian subcontinent, made with dahi together with raw or cooked vegetables, more seldom fruit, or in the case of boondi raita, with fried droplets of batter made from besan</p>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Salad</a></h4>
                                    <p>A salad is a dish consisting of a mixture of small pieces of food, usually vegetables. However, different varieties of salad may contain virtually any type of ready-to-eat food</p>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Butter Naan</a></h4>
                                    <p>Naan made with butter and white sesame seeds</p>

                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Food Menu 1 Area End Here -->

