
@{
    ViewBag.Title = "cooked_food";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- our-recipes-area Start Here -->
<div class="our-recipes-area section-space">
    <div class="container">
        <h2 class="title-color">Cooked Food</h2>
        <span class="subtitle-color">Warraich Meat Shop</span>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="recipe-box2">
                    <ul class="recipe-box2-social">
                        <li><a href="../Home/ready_to_serve"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="recipe-box2-img-holder">
                        <a href="#"><img src="../img/recipe-box2-7.jpg" alt="Recipe" class="img-responsive"></a>
                    </div>
                    <div class="recipe-box2-bottom-content-holder">
                        <h3><a href="../Home/ready_to_serve">Ready to Serve Menu</a></h3>


                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="recipe-box2">
                    <ul class="recipe-box2-social">
                        <li><a href="../Home/special_menu"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="recipe-box2-img-holder">
                        <a href="#"><img src="../img/recipe-box2-8.jpg" alt="Recipe" class="img-responsive"></a>
                    </div>
                    <div class="recipe-box2-bottom-content-holder">
                        <h3><a href="../Home/special_menu">Special Menu</a></h3>


                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="recipe-box2">
                    <ul class="recipe-box2-social">
                        <li><a href="../Home/buffet"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="recipe-box2-img-holder">
                        <a href="#"><img src="../img/recipe-box2-9.jpg" alt="Recipe" class="img-responsive"></a>
                    </div>
                    <div class="recipe-box2-bottom-content-holder">
                        <h3><a href="../Home/buffet">Buffet Menu</a></h3>


                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="recipe-box2">
                    <ul class="recipe-box2-social">
                        <li><a href="../Home/appetizer_menu"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="recipe-box2-img-holder">
                        <a href="#"><img src="../img/recipe-box2-10.jpg" alt="Recipe" class="img-responsive"></a>
                    </div>
                    <div class="recipe-box2-bottom-content-holder">
                        <h3><a href="../Home/appetizer_menu">Appetizer Menu</a></h3>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- our-recipes-area End Here -->

