
@{
    ViewBag.Title = "family_package";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- Food Menu 1 Area Start Here -->
<div class="food-menu1-area">
    <div class="container">
        <h2 class="title-color">Group Package</h2>
        <span class="subtitle-color">Warraich Meat Shop</span>
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="food-menu1-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="food-menu-title">
                        <h3>Family Package</h3>
                        <span><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                    </div>
                    <ul>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">1 - 10 people</a></h4>
                                    <span>$150</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">10 - 15 people</a></h4>
                                    <span>$200</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">15 - 20 people</a></h4>
                                    <span>$250</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="message_menu wow fadeInUp">
                    <h4> 1 Veg, 1 Non-Veg, Rice, Raita, Naan, Salad, Sweet Dish</h4>
                    <p><a href="../Home/catering_menu">Choose from Catering Menu </a></p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="food-menu1-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="food-menu-title">
                        <h3>Family Package Appetizer Optional</h3>
                        <span><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                    </div>
                    <ul>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">1 - 10 people</a></h4>
                                    <span>$50</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">10 - 15 people</a></h4>
                                    <span>$100</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">15 - 20 people</a></h4>
                                    <span>$150</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="message_menu wow fadeInUp">
                    <h4> 1 Veg, 1 Non-Veg</h4>
                    <p><a href="../Home/appetizer_menu">Choose from Appetizer Menu </a></p>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- Food Menu 1 Area End Here -->

