
@{
    ViewBag.Title = "marinated_food";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <!-- Food Menu 1 Area Start Here -->
<div class="food-menu1-area">
    <div class="container">
        <h2 class="title-color">Marinated Food</h2>
        <span class="subtitle-color">Warraich Meat Shop</span>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="food-menu1-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="food-menu-title">
                        <h3>Marinated Food Menu</h3>
                        <span><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                    </div>
                    <ul>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Tandoori Chicken</a></h4>
                                    <p>Tandoori chicken is chicken dish prepared by roasting chicken marinated in yoghurt and spices in a tandoor, a cylindrical clay oven</p>
                                    <span>$4.49</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Tandoori Chicken(BBQ) Chicken/Spicy</a></h4>
                                    <p>Tandoori chicken is chicken dish prepared by roasting chicken marinated in yoghurt and spices in a tandoor, a cylindrical clay oven</p>
                                    <span>$4.49</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Lemon Chicken</a></h4>
                                    <p>Lemon Chicken with the chicken pieces coated in batter, then rolled in almond slivers and deep-fried, and served with the lemon-glaze sauce</p>
                                    <span>$4.49</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Mint Chicken</a></h4>
                                    <p>Mint Chicken taste depends on the garam masala paste which is prepared with fresh mint leaves, coconut pieces, and green chilies. </p>
                                    <span>$4.49</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Afghani Chicken</a></h4>
                                    <p>Afghani chicken marinated in a rich creamy marinade made with cashew nut paste, cream, lemon juice, cheese and ginger-garlic paste, and then baked to perfection.</p>
                                    <span>$4.49</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Marinated Drumsticks</a></h4>
                                    <p>Ginger Chicken Drumsticks – marinated chicken drumsticks in a delicious garlic, ginger and soy sauce marinade, easy and delicious supper. </p>
                                    <span>$4.69</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Tandoori Drumsticks Only</a></h4>
                                    <p>Chicken tandoori is simply chicken marinated in yogurt, citrus and spices, then grilled or broiled</p>
                                    <span>$4.69</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Tandoori Wings</a></h4>
                                    <p>Tandoori Chicken Wings on the grill & it is simply  oil, garlic, ginger, jalapeno, yogurt, lemon juice and tandoori masala in the bowl of a food processor.</p>
                                    <span>$6.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Lemon Wings</a></h4>
                                    <p>Lemon wing recipe is intended as an appetizer, it works equally well with larger pieces of chicken. Thighs and drumsticks are delicious as the lemon flavor penetrates to the bone. </p>
                                    <span>$6.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Marinated Keema</a></h4>
                                    <p>Hyderabadi Mutton Kheema, minced lamb meat curry made in hyderabadi style adding yogurt, mint and spices.  </p>
                                    <span>$7.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Kebab Leg Meat</a></h4>
                                    <p>Tandoori spiced chicken drumsticks are grilled to juicy perfection in the oven. Tangdi kebabs make great appetizers, side or main for your Indian dinner.</p>
                                    <span>$5.00</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Malai Chicken (1lbs)</a></h4>
                                    <p>Malai Chicken Juicy zesty grilled chicken, marinated in ginger, garlic, lemon, spices, and cream! Grilled topped with cheese for out-of-the-world grilled chicken kababs. </p>
                                    <span>$4.69</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Breast Meat Chicken Kebab</a></h4>
                                    <p>Chicken thighs are marinated in a tangy Middle Eastern-style blend of Greek yogurt, lemon, garlic and spices, then grilled on skewers until golden brown.</p>
                                    <span>$5.50</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Achari Chicken</a></h4>
                                    <p>Achari Chicken (Chicken in Indian Pickle Spices) is an extremely easy and quite refreshing recipe from your regular Indian chicken recipes. </p>
                                    <span>$4.49</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Jalapeno Chicken (1lsb)</a></h4>
                                    <p>Jalapeno Chicken dish is sort of a combination of Chinese-American and Mexican cuisines—it consists of deep fried pieces of chicken. </p>
                                    <span>$4.69</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Lamb Chops Marinated</a></h4>
                                    <p>Marinated in garlic, rosemary, thyme, shallots, chili pepper and extra-virgin olive oil, they are broiled and then finished with lemon. </p>
                                    <span>$9.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Goat Chops Marinated</a></h4>
                                    <p>Marinated Grilled Goat Chops are to die for, beautifully tender and juicy, with this rich red wine marinade it's a match made in heaven. </p>
                                    <span>$9.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Paneer Tikka</a></h4>
                                    <p>Paneer tikka is an Indian dish made from chunks of paneer marinated in spices and grilled in a tandoor. It is a vegetarian alternative to chicken tikka and other meat dishes. </p>
                                    <span>$9.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Marinated Goat Keema</a></h4>
                                    <p>Mutton Kheema, minced lamb meat curry made in hyderabadi style adding yogurt, mint and spices. </p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Lemon Tikka Boneless</a></h4>
                                    <p>Garlic Lemon Chicken Tikka recipe, a great starter that is simply mouth watering. It is so delicious and drooling that you will never have enough of it.</p>
                                    <span>$8.49</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Boneless Chicken Tikka Breast</a></h4>
                                    <span>$8.49</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Boneless Afghani Tikka Breast</a></h4>
                                    <span>$8.49</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Marinated Keema Breast</a></h4>
                                    <span>$8.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Lamb Leg</a></h4>
                                    <span>$9.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Boneless Lamb </a></h4>
                                    <span>$10.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Lamb Mix</a></h4>
                                    <span>$8.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Front Lamb Legs</a></h4>
                                    <span>$8.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Lamb Chops</a></h4>
                                    <span>$8.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Ground Goat or Lamb</a></h4>
                                    <span>$11.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#"> Special Parts of Lamb</a></h4>
                                    <span>$11.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">  Lamb Paya With Skin</a></h4>
                                    <span>$3.00</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#"> Lamb Paya With Without Skin</a></h4>
                                    <span>$4.00</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Ontario Fresh Lamb</a></h4>
                                    <span>$11.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">  Lamb Liver</a></h4>
                                    <span>$6.99</span>
                                </div>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            </div>
        </div>
    </div>
</div>
<!-- Food Menu 1 Area End Here -->

