
@{
    ViewBag.Title = "onsite_catering";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   <!-- Food Menu 1 Area Start Here -->
<div class="food-menu1-area">
    <div class="container">
        <h2 class="title-color">Services</h2>
        <span class="subtitle-color">Warraich Meat Shop</span>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="food-menu1-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="food-menu-title">
                        <h3> Onsite Catering Services</h3>
                        <span><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                    </div>
                    <div class="catering">
                        <h3>Starting from 50 people</h3>
                        <p>
                            Price starting from $25 to $30 per person <br />
                            (Depending on Menu)
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            </div>
        </div>
        <p style="text-align:center; font-size:20px;" class="ffd wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">Choose items from Catering and Appetizers Menu</p>

    </div>
</div>
<!-- Food Menu 1 Area End Here -->

