
@{
    ViewBag.Title = "raw_food";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- Food Menu 1 Area Start Here -->
<div class="food-menu1-area">
    <div class="container">
        <h2 class="title-color">Raw Food</h2>
        <span class="subtitle-color">Warraich Meat Shop</span>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="food-menu1-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="food-menu-title">
                        <h3>Raw Food Menu</h3>
                        <span><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                    </div>
                    <ul>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Desi Whole Chicken 1(lb)</a></h4>
                                    <span>$16.00</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">White Whole Chicken 1(lb)</a></h4>
                                    <span>$3.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Legs with Skin 1(lb)</a></h4>
                                    <span>$2.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Legs Clean Cut 1(lb)</a></h4>
                                    <span>$3.49</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken D_Sticks With Skin 1(lb)</a></h4>
                                    <span>$3.49</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Drumsticks Clean 1(lb)</a></h4>
                                    <span>$3.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Wings 1(lb)</h4>
                                    <span>$5.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Boneless Chicken Legs 1(lb)</a></h4>
                                    <span>$5.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Breast Boneless 1(lb)</a></h4>
                                    <span>$6.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Ground Chicken Breast 1(lb)</a></h4>
                                    <span>$7.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Liver 1(lb)</a></h4>
                                    <span>$4.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Giblets 1(lb)</a></h4>
                                    <span>$4.00</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Ground Chicken Leg Meat 1(lb)</a></h4>
                                    <span>$6.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Mint Chatny</a></h4>
                                    <span>$0.50</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Goat Leg 1(lb)</a></h4>
                                    <span>$9.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Boneless Goat 1(lb)</a></h4>
                                    <span>$10.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Goat Mix 1(lb)</a></h4>
                                    <span>$8.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Front Leg of Goat 1(lb)</a></h4>
                                    <span>$8.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Goat Chops 1(lb)</a></h4>
                                    <span>$8.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Ground Goat 1(lb)</a></h4>
                                    <span>$11.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Goat Ontiro Fresh 1(lb)</a></h4>
                                    <span>$11.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Goat Paya With Skin 1(lb)</a></h4>
                                    <span>$3.00</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Goat Paya Without Skin 1(lb)</a></h4>
                                    <span>$4.00</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Goat Liver 1(lb)</a></h4>
                                    <span>$6.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Goat Regular (Frozen 1(lb))</a></h4>
                                    <span>$4.50</span>
                                </div>
                            </div>
                        </li>


                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Goat Brain 1(lb)</a></h4>
                                    <span>$4.00</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Special Part of Goat 1(lb)</a></h4>
                                    <span>$11.99</span>
                                </div>
                            </div>
                        </li>




                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            </div>
        </div>
    </div>
</div>
<!-- Food Menu 1 Area End Here -->

