
@{
    ViewBag.Title = "ready_to_serve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- Food Menu 1 Area Start Here -->
<div class="food-menu1-area">
    <div class="container">
        <h2 class="title-color">Cooked Food</h2>
        <span class="subtitle-color">Warraich Meat Shop</span>
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="food-menu1-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="food-menu-title">
                        <h3>Ready to Serve</h3>
                        <span><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                    </div>
                    <ul>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Lollipop Chicken, 4pc</a></h4>
                                    <p>Coated with a luscious batter with garlic and ginger paste, chicken wings are fried perfect.</p>
                                    <span>$6.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Lollipop Chicken, 8pc</a></h4>
                                    <p>Coated with a luscious batter with garlic and ginger paste, chicken wings are fried perfect.</p>
                                    <span>$11.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Curry</a></h4>
                                    <p>Natural chicken marinated in our curry sauce, which includes coriander, cumin, turmeric, and ginger, cooked to perfection with onions, tomato sauce, and fresh cilantro.</p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Curry w. Bone</a></h4>
                                    <p>Natural chicken marinated in our curry sauce, which includes coriander, cumin, turmeric, and ginger, cooked to perfection with onions, tomato sauce, and fresh cilantro.</p>
                                    <span>$7.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Karahi Chicken</a></h4>
                                    <p>Boneless chicken cooked in spices with fresh green capsicum, tomato and onions. </p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Butter Chicken</a></h4>
                                    <p>Natural chicken cooked in tandoori oven, seasoned with spices with vegetables and simmered in cream.</p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chilly Chicken</a></h4>
                                    <p>Chilly chicken are marinated in soya sauce, chilli sauce and pepper. Then deep fried and then seasoned again in sauces to get the best chinese chilly chicken.</p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Tikka Masala</a></h4>
                                    <p>Boneless chicken cooked with onion tomato gravy with diced capsicum and spices. </p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Wings Tandoori, 10pc</a></h4>
                                    <p>The meat is protected by a garam masala-spiced yogurt marinade, and the wing tips get crisp. Glaze the wings with store-bought mango chutney after cooking.</p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Afghani Chicken Tikka</a></h4>
                                    <p>Afghani Chicken Tikka is meat marinated in hung yogurt or cream and nuts which ensures extreme tenderness which is the highlight of this particular dish. </p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Achari Chicken Tikka</a></h4>
                                    <p>Boneless chicken marinated in yogurt and achaari masala and shallow-fried. It is a lipsmacking chicken preparation, marinated in a delicious homemade pickling (achari) spice.</p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Haryali Chicken Tikka</a></h4>
                                    <p>Haryali Chicken Tikka is prepared with juicy chicken breasts marinated in the blended mixture of mint leaves, coriander leaves, curd along with a melange of flavorsome spices. </p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Tandoori Chicken Tikka</a></h4>
                                    <p>Tandoori chicken is an Indian recipe, in which the meat is flavoured with yoghurt and spices, and then roasted. The word "tikka" refers to the cut of meat, in this case sliced chicken fillets. </p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Methi Malai Chicken</a></h4>
                                    <p>Methi Malai Chicken curried in yoghurt and cream with an added flavour punch of kasoori methi.</p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Biryani Boneless</a></h4>
                                    <p>Chunks of chicken, flavourful spices and long grain basmati rice layered in a handi, sealed and cooked to perfection.</p>
                                    <span>$9.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Biryani w. Bone</a></h4>
                                    <p>Chunks of chicken, flavourful spices and long grain basmati rice layered in a handi, sealed and cooked to perfection.</p>
                                    <span>$6.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Tandoori Chicken Leg</a></h4>
                                    <p>Skinless legs and thighs are marinated in a tenderizing mixture of yogurt, lemon juice, and spices and the meat is slashed to the bone in several places.</p>
                                    <span>$2.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Leg Roast*</a></h4>
                                    <p>Serve this tasty chicken with mashed or roasted potatoes and your favorite side vegetable dishes or salads.</p>
                                    <span>$3.49</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Tandoori Whole Chicken</a></h4>
                                    <p>Tandoori chicken with bones cooked with onion masala, gravy, herb and spices.</p>
                                    <span>$20.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Tandoori Half Chicken</a></h4>
                                    <p>Tandoori chicken with bones cooked with onion masala, gravy, herb and spices.</p>
                                    <span>$11.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Goat Curry</a></h4>
                                    <p>Cheap cuts like goat and mutton require slow-cooking in strong spices to tenderise - this Jamaican classic is a taste sensation.</p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Karahi Goat</a></h4>
                                    <p>Goat Karahi - Mutton Kadai, this is a pakistani dish made in kadai. It is a simple recipe prepared in mustard oil with julian ginger. It is so yummy.</p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Goat Biryani</a></h4>
                                    <p>A hearty mutton biryani that will amaze your guests! Layers of mutton and saffron-milk infused rice cooked 'dum' style. </p>
                                    <span>$11.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Lamb Curry/Karahi Lamb</a></h4>
                                    <p>Lamb Karahi or Goat Karahi Curry Cooked Indian spices marry with flavor of lamb, hence curry gets rich and intense flavored as it sits in refrigerator for 10-12 hrs or longer. </p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Lamb Chops, 2pc</a></h4>
                                    <p>Lamb chops are just right for a quick dinner. Pair them up with the mashed potatoes and some boiled green beans. Pour a full-bodied Merlot or Pinot Noir.</p>
                                    <span>$15.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Lamb Biryani</a></h4>
                                    <p>Lamb Biryani is a casserole of tender lamb curry and fragrant saffron rice. Two outstanding dishes combined into one company worthy casserole.</p>
                                    <span>$11.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Keema Curry</a></h4>
                                    <p>Keema Pav is a robust, peppery curry dish made with minced chicken or lamb cooked with onion, tomatoes, ginger, garlic and earthy spices.</p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Seikh Kebab, 2pc</a></h4>
                                    <p>Succulent kebabs made with minced lamb, marinated in variety of spices, grilled on a tandoor/oven and served with green chutney.</p>
                                    <span>$11.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Reshmi Kebab, 2pc</a></h4>
                                    <p>Reshmi Kabab is made with Pieces of Boneless Chicken Breast, marinated in juicy mixture of Curd, Cream, Cashew nuts and Spices and then Grilled in Oven.</p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#"> Chicken Kebab (half Cooked)</a></h4>
                                    <p>Chicken Kebab is soft, juicy and delicious yogurt marinated chicken kabab.</p>
                                    <span>$5.00</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Reshmi Kebab (half Cooked)</a></h4>
                                    <p>Reshmi Kabab is made with Pieces of Boneless Chicken Breast, marinated in juicy mixture of Curd, Cream, Cashew nuts and Spices and then Grilled in Oven.</p>
                                    <span>$5.50</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Thali With Two Meat Dish</a></h4>
                                    <span>$11.99</span>
                                </div>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="food-menu1-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                    <div class="food-menu-title">
                        <h3>Bread Menu</h3>
                        <span><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                    </div>
                    <ul>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Plain Tandoori Roti ea.</a></h4>
                                    <p>Traditional wholemeal bread. </p>
                                    <span>$1.29</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Plain Naan ea.</a></h4>
                                    <p>Bread made with plain flour. </p>
                                    <span>$2.49</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Garlic Naan ea.</a></h4>
                                    <p>Naan bread with finely chopped garlic and butter. </p>
                                    <span>$2.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Butter Naan ea.</a></h4>
                                    <p>Naan made with butter and white sesame seeds. </p>
                                    <span>$2.49</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Keema Naan With Gravy ea.</a></h4>
                                    <p>Naan stuffed with lamb mince. </p>
                                    <span>$6.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Onion Kulcha</a></h4>
                                    <p>Naan bread with finely chopped onions, coriander and mild spices. </p>
                                    <span>$3.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Paneer Kulcha</a></h4>
                                    <p>Naan stuffed with cottage cheese and spice.</p>
                                    <span>$3.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Lachha Paratha</a></h4>
                                    <p>Layered bread made with wholemeal flour.</p>
                                    <span>$2.99</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Tawa Roti</a></h4>
                                    <p>Traditional wholemeal bread made on Tawa. </p>
                                    <span>$1.99</span>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Food Menu 1 Area End Here -->
