
@{
    ViewBag.Title = "sea_food";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- Food Menu 1 Area Start Here -->
<div class="food-menu1-area">
    <div class="container">
        <h2 class="title-color">Cooked Food</h2>
        <span class="subtitle-color">Warraich Meat Shop</span>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="food-menu1-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="food-menu-title">
                        <h3>Sea Food Menu</h3>
                        <span><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                    </div>
                    <ul>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Fish Curry</a></h4>
                                    <p>Fish fillets cooked with a fine blend onions tomato gravy. </p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Fish Chilli</a></h4>
                                    <p>A delicious, tangy Indo-fusion dish it's crunchy, tasty, filling. </p>
                                    <span>$12.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Fish Pakora 1lb</a></h4>
                                    <p>Juicy fish fillets are coated in a spicy batter and fried till a golden perfection. These make a great party starter.</p>
                                    <span>$6.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Tandoori Fish (Basa 1lb)</a></h4>
                                    <p>Fish cooked in a tandoori marinade with chilli, cumin & coriander</p>
                                    <span>$13.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Tandoori Fish (Salmon 1lb)</a></h4>
                                    <p>Fish cooked in a tandoori marinade with chilli, cumin & coriander</p>
                                    <span>$16.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Fish Tikka Salmon</a></h4>
                                    <p> Great preparation for salmon! The marinade is flavorful and makes the fish nice and moist. The red and orange bell pepper matches wonderfully with the salmon</p>
                                    <span>$16.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Fish Tikka Wrap</a></h4>
                                    <p>Tikkas are made using salmon, you can use any fish of your choice, but large boneless fish is all that is needed to make the good tikka.</p>
                                    <span>$14.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Fish And Chips</a></h4>
                                    <p>A slab of battered fish on top of a heap of chips doused in salt and vinegar.</p>
                                    <span>$9.99</span>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            </div>
        </div>
    </div>
</div>
<!-- Food Menu 1 Area End Here -->

