
@{
    ViewBag.Title = "special_menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- Food Menu 1 Area Start Here -->
<div class="food-menu1-area">
    <div class="container">
        <h2 class="title-color">Cooked Food</h2>
        <span class="subtitle-color">Warraich Meat Shop</span>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="food-menu1-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="food-menu-title">
                        <h3>Everyday Special Menu</h3>
                        <span><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                    </div>
                    <ul>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Warraich Grill Chicken</a></h4>
                                    <!-- <p>Egg coated wheat flour phulkas, rolled in with a masaledar chicken tikka and veggies. Served with cool mint chutney.</p>-->
                                    <span>$19.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Kathi Roll</a></h4>
                                    <p>Egg coated wheat flour phulkas, rolled in with a masaledar chicken tikka and veggies. Served with cool mint chutney.</p>
                                    <span>$7.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Kebab Wrap</a></h4>
                                    <p>Chicken kebab wraps, with a generous dollop of creamy and refreshing homemade tzatziki sauce, are a healthy, light and fresh meal, irresistible and simple to prepare.</p>
                                    <span>$6.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Paneer Tikka Wrap</a></h4>
                                    <p>Paneer Tikka Wrap recipe begins with paneer cubes marinated in a tikka sauce with diced onions and capsicums. </p>
                                    <span>$6.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Tikka Wrap</a></h4>
                                    <p> Chicken Tikka Wrap, a quick, healthy for a weeknight dinner or lunch. Juicy chicken tikka pieces are tightly wrapped with delicious spread and toppings. </p>
                                    <span>$7.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Kathi Roll</a></h4>
                                    <p>Egg coated wheat flour phulkas, rolled in with a masaledar chicken tikka and veggies. Served with cool mint chutney.</p>
                                    <span>$6.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Butter Chicken (w. bone)</a></h4>
                                    <p>Natural chicken cooked in tandoori oven, seasoned with spices with vegetables and simmered in cream.</p>
                                    <span>$7.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chilly Chicken (w. bone)</a></h4>
                                    <p>Chilly chicken are marinated in soya sauce, chilli sauce and pepper. Then deep fried and then seasoned again in sauces to get the best chinese chilly chicken.</p>
                                    <span>$8.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Curry Chicken (w. bone)</a></h4>
                                    <p>Natural chicken marinated in our curry sauce, which includes coriander, cumin, turmeric, and ginger, cooked to perfection with onions, tomato sauce, and fresh cilantro.</p>
                                    <span>$7.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Dum Briyani (w. bone)</a></h4>
                                    <p>Chicken Dum Briyani flavors of spices delicately combined with rice and chicken makes an aromatic combination that is hard to resist.</p>
                                    <span>$6.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Dum Briyani (bonelesss)</a></h4>
                                    <p>Chicken Dum Briyani flavors of spices delicately combined with rice and chicken makes an aromatic combination that is hard to resist.</p>
                                    <span>$9.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Samosa</a></h4>
                                    <p>Baked or Fried Super Crispy Chicken  Samosas full of chicken , peas  and spiced up with just enough spices and heat </p>
                                    <span>$0.99 ea</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Spring Roll</a></h4>
                                    <p>Chicken Spring Rolls is a popular Chinese cuisine recipe. Made with minced chicken and fresh noodles, this easy snack recipe can be served with cold beverages.</p>
                                    <span>$0.75 ea</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Burger (w. fries & pop)</a></h4>
                                    <p>Crispy seasoned chicken breast, topped with mandatory melted cheese and piled onto soft rolls with onion, avocado, lettuce, tomato and garlic mayo.</p>
                                    <span>$7.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken  Keema Curry (w. naan/rice)</a></h4>
                                    <p>Keema/Kheema is a flavorful dish prepared with minced mutton which is sauteed in onions and seasoned with aromatic spices.</p>
                                    <span>$9.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Egg Omelette Sandwich</a></h4>
                                    <p>Bread omelette is a recipe with egg omelette mixture and bread slices and this is similar to a sandwich recipe with omelet stuffed between the bread. </p>
                                    <span>$6.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Butter Chicken w. Naan/Rice</a></h4>
                                    <p>Spicy and creamy 30-minute butter chicken with basmati rice and quick stove-top naan. This tasty meal will add spice and flavor to your lunch routine! </p>
                                    <span>$9.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Goat Curry w. Naan/Rice</a></h4>
                                    <p>Goat curry is called mutton curry. This is a very simple yet very delicious dish which can accompanied by rice, naan or tandoori roti. </p>
                                    <span>$9.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Curry w. Naan/Rice (w. bone)</a></h4>
                                    <p>Spicy and creamy 30-minute butter chicken with basmati rice and quick stove-top naan. This tasty meal will add spice and flavor to your lunch routine! </p>
                                    <span>$7.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Curry w. Naan/Rice (boneless)</a></h4>
                                    <p>Spicy and creamy 30-minute butter chicken with basmati rice and quick stove-top naan. This tasty meal will add spice and flavor to your lunch routine! </p>
                                    <span>$9.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#"> Kathi Chicken w. Naan/Rice (boneless)</a></h4>
                                    <p>The basmati rice soaks up all the creamy buttery sauce from the butter chicken and the quick garlic stove-top naan is a great addition. </p>
                                    <span>$9.99</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Chicken Meatballs</a></h4>
                                    <p>Juicy chicken meatballs utilize ground chicken, a cost-effective alternative to the beef, pork, or veal in traditional meatball </p>
                                    <span>$2.99 ea</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#"> Chicken Shami Kebab</a></h4>
                                    <p>Chicken Shami Kebab is one of the best non-vegetarian snacks to be served. Perfect for a dinner party during winters, it can be served with green chutney or tomato ketchup. </p>
                                    <span>$2.49 ea</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Large Crispy Fries</a></h4>
                                    <p>Russets or baking potatoes are the best, whereas waxy potatoes.  As far as oils go, peanut oil is the best for deep frying </p>
                                    <span>$2.99 ea</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h4><a href="#">Egg Kathi Roll</a></h4>
                                    <p>Kathi roll recipe here is a roll recipe in which the kathi roll is stuffed with a delicious egg filling which is a mouth watering filling and goes perfectly with the rolls. </p>
                                    <span>$7.99</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            </div>
        </div>
    </div>
</div>
<!-- Food Menu 1 Area End Here -->

